#side-bar {
  padding-top: 200px;
  height: 50%;
  position: fixed;
  display: flex;
  border-style: solid;
  border-width: 5px;
  width: 160px;
  height: 350px;
  margin-top: 150px;
  padding-top: 20px;
  padding-bottom: 380px;
  border-color: #FF69B4;
}

#header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  color: #FF69B4;
  font-weight: 800;
}


